[defaults]
inventory=inventory
[privilege_escalation]
become=False

# (boolean) Toggle to prompt for privilege escalation password.
become_ask_pass=False

# (string) executable to use for privilege escalation, otherwise Ansible will depend on PATH
become_exe=
# (string) Flags to pass to the privilege escalation executable.
become_flags=

# (string) Privilege escalation method to use when `become` is enabled.
become_method=sudo

# (string) The user your login/remote user 'becomes' when using privilege escalation, most systems will use 'root' when no user is specified.
become_user=root